# APENAS UMA VERSÃO DO OPENCV - NUNCA instale opencv-python junto
opencv-python-headless

# Framework e UI
streamlit>=1.30.0

# Dados e processamento
pandas
numpy
Pillow
openpyxl

# IA Facial
deepface

# Banco de dados
supabase

# PDF
pdfminer.six
PyMuPDF
