# OpenCV headless primeiro
opencv-python-headless==4.8.0.74

# DeepFace mais recente (correção do LocallyConnected2D)
deepface==0.0.93

# TensorFlow será instalado automaticamente pelo deepface
streamlit==1.25.0
Pillow==9.5.0
pandas
numpy
openpyxl
supabase
pdfminer.six
PyMuPDF
